/* common styles */
body{
    font-family: 'Lato' sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #fD6E0A;
}
.btn-primary{
    color: #fff;
    background-color:#fd6e0a ;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}
.text-gray{
    color: #474747;
}
.font-w-bold{
    font-weight: bold;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 35px;
    padding: 20px;
}
h3{
    font-size: 25px;
}
h4{
    font-size: 20px;
}
/* nav style */
header{
    background-color:#fff8f3 ;
    background-image: url('./img/header_bg.png') , url('./img/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right , top left;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20%;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    color: #474747;
    text-decoration: none;
    
}
.nav_title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
/* bnnar section style */
.bannar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.bannar_text{
    max-width: 500px;
    margin-left: 200px;
}
.bannar_text h3{
    font-size: 45px;
}
.bannar_text h1{
    font-size: 70px;
    font-weight: 800;
}
.bannar_img{
    width: 550px;
    height: 650px;
    padding:0 50px 25px 0 ;
}
.bannar_text button{
    margin: 50px 30px 0 0;
}
.contact_btn{
    background-color: #fff8f3;
    border: 3px solid #fD6E0A;
    color: #fd6e0a;
}

/* main style start here */

/* about me section start here  */
.about-me{
    margin: 200px 300px;
    background-color: #fff8f3;
    text-align: center;
}
.about-me section{
    margin: 150px;
    padding: 100px 0;
}
.about-me h1{
    font-size: 45px;
}
.about-me_description{
    color: #474747;
}
.about-me_bottom-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* what i do section start here  */
.what-i-do{
    margin: 200px 300px;
}
.what-i-do_first-section{
    text-align: center;
    padding: 50px 200px;
}
.what-i-do_first-section h1{
    font-size: 45px;
}
.what-i-do_secound-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.what-i-do_secound-section div{
    width: 250px;
    background-color: #fff;
    box-shadow: 5px 5px 15px rgb(182, 181, 181) ,-5px -5px 15px rgb(182, 181, 181);
    box-sizing: border-box;
    padding: 30px;
}
.what-i-do_secound-section div:hover{
    box-shadow: 5px 5px 15px rgb(170, 161, 161) ,-5px -5px 15px rgb(146, 135, 135);
    transform: scale(1.3);
    transition: 0.5s;
    border-radius: 40px;
}
/* a-summary-of-my section start here */
.a-sumary-of-my{
    margin: 200px 300px;
}
.a-sumary-of-my_container{
    display: flex;
    justify-content: space-between;
}
.a-sumary-of-my_first-section{
    width: 550px;
}
.a-sumary-of-my_secound-section{
    width: 550px;
}
.a-sumary-of-my h1{
    text-align: center;
    padding: 50px;
}
.btn-div{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 50px;
}

/* footer section :start here  */
footer{
    background-color: #fff8f3;
}
.container{
    display: flex;
    justify-content: space-between;
    margin: 200px 300px 0 300px;
    padding: 200px 0;
}
.footer_section-one{
    width: 400px;
}
.footer_section-one span{
    margin: 10px 20px 0 0;
}
.footer_section-two input,textarea {
    display: block;
    border: none;
    margin: 30px 0;
    font-size: 20px;
    height: 45px;
    width: 600px;
    outline: none;
}
.footer_section-two textarea:focus {
    box-shadow: 5px 5px 15px #92877f, -5px -5px 15px #5f3e27;
}
.footer_section-two input:focus {
    box-shadow: 5px 5px 15px #92877f, -5px -5px 15px #5f3e27;
}
.footer_section-two textarea{
    height: 150px;
    font-size: 25px;
}
.footer_section-two .submit{
    height: 40px;
    font-size: 20px;
    width: 200px;
    border: #474747;
    padding: 10px;
}